# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/

# Python environment files
.python-version

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/
.history/

# Pytest
.pytest_cache/

# Coverage reports
.coverage
.coverage.*
htmlcov/

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Linter cache
.ruff_cache/

# IDEs
.idea/

# Logs
*.log

# Environment variables
.env
.env.*

# NumPy generated binary data (optional)
*.npy
*.npz

# Temporary files
*.tmp
*.temp

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

#Data
[Dd]ata/